@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --light-color: #dddddd;
  --light-color-darker: #cccccc;
  --shadow-light: #aaaaaa;
  --dark-color: #222222;
  --orange: #FF5F1F;
}

[data-theme='dark'] {
  --light-color: #222222;
  --light-color-darker: #111111;
  --shadow-light: #111111;
  --dark-color: #dddddd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  background-color: var(--light-color);
  color: var(--dark-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

ul {
  list-style: none;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 1px solid var(--dark-color);
}

.create, .archive,
.navigation .logout {
  font-family: 'PT Serif', serif;
  text-decoration: underline;
  font-style: italic;
}

.home:hover, 
.create:hover, 
.archive:hover,
.note-item__link:hover {
  text-decoration: line-through;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation button {
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  color: var(--dark-color);
}

.navigation .icon {
  width: 25px;
  height: 25px;
}

.navigation .logout {
  gap: 5px;
  text-decoration: none;
}

header a,
.navigation button,
.note-item__link {
  transition: all .2s ease-out;
}

header a:hover,
.navigation button:hover,
.note-item__link:hover {
  color: var(--orange);
}

/* login, register, home page, archive page, create page, & detail page */
.login-page, 
.register-page, 
.home-page,
.archive-page,
.create-page {
  padding: 20px 40px;
}

.login-page h1, 
.register-page h1,
.home-page h1,
.archive-page h1,
.create-page h1 {
  margin-bottom: 20px;
}

.login-page i,
.register-page i {
  font-family: 'PT Serif', serif;
}

.login-form input, 
.register-form input,
.create-page input,
.create-page .input-body,
.search-bar {
  padding: 10px;
  width: 50%;
  border: 2px solid var(--dark-color);
  margin: 5px 0;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-size: 0.9rem;
  font-family: 'PT Sans', sans-serif;
  border-radius: 10px;
}

[data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: var(--dark-color);
  opacity: 0.5;
  font-size: 0.9rem;
}

.login-form input:focus, 
.register-form input:focus,
.create-form input:focus,
.create-form .input-body:focus,
.search-bar:focus {
  outline: none;
}

.login-form button, 
.register-form button,
.create-form button {
  padding: 10px 40px;
  margin: 10px 0 20px 0;
  background-color: var(--orange);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.login-page a, 
.register-page a {
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: var(--orange);
}

/* note item & note list */
.note-list {
  padding: 40px 0 20px 0;
}

.note-item {
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--light-color-darker);
  border-radius: 20px;
  box-shadow: 0 4px 4px var(--shadow-light);
}

.note-item__body {
  margin-top: 10px;
}

.note-detail__body {
  margin-top: 20px;
}

.note-item__date {
  font-size: 0.9rem;
}

.note-item__date,
.note-detail__date,
.conditional-rendering,
.loading {
  opacity: 0.7;
  font-family: 'PT Serif', serif;
  font-style: italic;
}

.detail-page,
.page-not-found {
  padding: 40px 200px;
}

.note-detail__title {
  font-size: 4rem;
}

.note-detail__buttons {
  margin-top: 100px;
  text-align: right;
}

.note-detail__buttons button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--dark-color);
  font-size: 40px;
  transition: all .2s ease-out;
  margin-left: 20px;
}

.note-detail__buttons button:hover {
  color: var(--orange);
}

.conditional-rendering,
.loading {
  margin: 40px 0;
}

.loading {
  text-align: center;
}

.error {
  font-size: 60px;
}

/* responsive */
@media screen and (max-width: 992px) {
  .detail-page,
  .page-not-found {
    padding: 40px 100px;
  }

  .login-form input, 
  .register-form input,
  .create-page input,
  .create-page .input-body {
    width: 75%;
  }

  .search-bar {
    width: 100%;
  }

  .note-list {
    padding: 30px 0 10px 0;
  }

  .conditional-rendering,
  .loading {
    margin: 30px 0;
  }

  .note-detail__title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 576px) {
  header {
    flex-direction: column;
    padding: 10px 20px;
  }

  header .home {
    font-weight: 700;
  }

  .navigation {
    margin-top: 20px;
  }

  .navigation ul {
    gap: 15px;
  }

  .login-page, 
  .register-page, 
  .home-page,
  .archive-page,
  .create-page,
  .detail-page,
  .page-not-found {
    padding: 20px;
  }

  .login-form input, 
  .register-form input,
  .create-page input,
  .create-page .input-body,
  .search-bar {
    width: 100%;
  }

  .note-list {
    padding: 20px 0 0 0;
  }

  .conditional-rendering,
  .loading {
    margin: 20px 0;
  }

  .note-detail__title {
    font-size: 2rem;
  }

  .note-detail__buttons button {
    font-size: 30px;
  }
}